<div class="vh-100 bg-green d-flex justify-content-center align-items-center">
    <div class="text-center">


        <img src="./avataaars.svg" class="home-img" alt="">
        <h1 class="navbar-brand fw-bolder fs-1 text-white pt-5" href="#">START FRAMEWORK</h1>
        <div class="d-flex justify-content-center align-items-center">

            <div class="line me-3" style="background-color: white;"></div>
            <i class="fa-solid fa-star text-white"></i>
            <div class="line ms-3" style="background-color: white;"></div>


        </div>
        <div class="text-white mt-3">Graphic Artist - Web Designer - Illustrator</div>
    </div>



</div>