
  <div class="container text-center mt-5 vh-100">
    <h1 class=" text-center text-white fw-bolder fs-1">ABOUT COMPONENT</h1>
    <div class="row mt-4 d-flex justify-content-center align-items-center">
      <!-- Item 1 -->
      <div class="col-md-4 mb-4">
        <div class="portfolio-item bg-pink">
          <img src="./poert1.png" alt="Cabin">
        </div>
      </div>
      <!-- Item 2 -->
      <div class="col-md-4 mb-4">
        <div class="portfolio-item bg-blue">
          <img src="./poert1.png" alt="Cake">
        </div>
      </div>
      <!-- Item 3 -->
      <div class="col-md-4 mb-4">
        <div class="portfolio-item bg-black">
          <img src="./poert1.png" alt="Circus">
        </div>
      </div>
      <!-- Item 4 -->
      <div class="col-md-4 mb-4">
        <div class="portfolio-item bg-pink">
          <img src="./poert1.png" alt="Cabin">
        </div>
      </div>
      <!-- Item 5 -->
      <div class="col-md-4 mb-4">
        <div class="portfolio-item bg-blue">
          <img src="./poert1.png" alt="Cake">
        </div>
      </div>
      <!-- Item 6 -->
      <div class="col-md-4 mb-4">
        <div class="portfolio-item bg-black">
          <img src="./public/port3.png" alt="Circus">
        </div>
      </div>
    </div>
  </div>
